.register-container {
    padding: 50px;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;

    .form-control {
        margin-bottom: 10px;
        border-radius: 5px;

        input {
            border: 1px solid black;
            border-radius: 4px;
            margin-bottom: 10px;
            width: 100%;
            padding: 8px;
        }

    }

    .register-btn {
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #27ae60;
        color: #fff;
        font-size: 14px;
        padding: 10px;
        border-radius: 5px;
    }

    p {
        font-size: 14px;
    }

}